In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib as plt

In [2]:
# HLA_data = pd.read_csv("DATASETS\KIDPAN_ADDTL_HLA.DAT", delimiter="\t", header=None)
DATA_data = pd.read_csv("DATASETS\KIDPAN_DATA.DAT", delimiter="\t", header=None)
#FOL_data = pd.read_csv("DATASETS\KIDPAN_FOLLOWUP_DATA.DAT", delimiter="\t", header=None)
#IMM_DIS_data = pd.read_csv("DATASETS\KIDPAN_IMMUNO_DISCHARGE_DATA.DAT", delimiter="\t", header=None)
#IMM_FOL_data = pd.read_csv("DATASETS\KIDPAN_IMMUNO_FOLLOWUP_DATA.DAT", delimiter="\t", header=None)
#PRA_data = pd.read_csv("DATASETS\KIDPAN_PRA_CROSSMATCH_DATA.DAT", delimiter="\t", header=None)

C:\Users\Omar\AppData\Local\Temp\ipykernel_15840\263349833.py:2: DtypeWarning: Columns (2,5,8,10,11,12,13,17,18,19,20,21,22,23,27,28,29,30,31,33,34,35,37,38,44,45,46,47,48,51,52,53,54,65,66,69,70,71,72,73,74,75,76,77,78,81,82,83,84,85,86,87,88,89,90,91,92,93,99,103,104,105,106,107,108,111,112,114,115,116,117,119,121,122,131,133,134,135,136,137,138,139,140,148,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,198,199,201,202,203,204,205,206,207,208,209,210,211,212,213,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,233,234,235,236,237,238,239,240,241,242,243,245,246,247,249,250,251,252,254,255,256,257,258,259,260,261,262,263,267,268,269,270,276,278,279,280,281,284,286,288,289,293,294,295,296,297,298,299,300,301,302,305,307,308,309,313,314,316,320,327,329,331,332,334,335,336,337,338,339,340,341,342,343,346,347,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,370,371,372,376,377,378,380,381,382,383,385,386,387,388,389,390,392,408,409,410,411,412,413,414,417,418,419,422,428,429,430,431,432,433,434,435,436,437,438,439,442,443,445,446,447,449,454,455,456,457,458,459,467,468,469,470,471) have mixed types. Specify dtype option on import or set low_memory=False.
  DATA_data = pd.read_csv("DATASETS\KIDPAN_DATA.DAT", delimiter="\t", header=None)

In [3]:
# HLA_cn = pd.read_excel("Column names\cnames_HLA.xlsx", header=None)[0].tolist()
DATA_cn = pd.read_excel("Column names\cnames_DATA.xlsx", header=None)[0].tolist()
#FOL_cn = pd.read_excel("Column names\cnames_FOLLOWUP.xlsx", header=None)[0].tolist()
#IMM_DIS_cn = pd.read_excel("Column names\cnames_IMM_DIS.xlsx", header=None)[0].tolist()
#IMM_FOL_cn = pd.read_excel("Column names\cnames_IMM_FOL.xlsx", header=None)[0].tolist()
#PRA_cn = pd.read_excel("Column names\cnames_PRA.xlsx", header=None)[0].tolist()

In [4]:
# HLA_data.columns = HLA_cn
DATA_data.columns = DATA_cn
#FOL_data.columns = FOL_cn
#IMM_DIS_data.columns = IMM_DIS_cn
#IMM_FOL_data.columns = IMM_FOL_cn
#PRA_data.columns = PRA_cn

In [5]:
big_samp = DATA_data.sample(n=2000)

In [6]:
big_samp.to_csv("my_sample.csv")

In [7]:
test_data = DATA_data[DATA_data["ORGAN"] == "PA"]
test_data = pd.concat([test_data, DATA_data[DATA_data["ORGAN"] == "KP"]])

#should be the column ORGAN and not wl_org

In [8]:
# bad_cols = ["ACADEMIC_LEVEL_TCR", "ACADEMIC_LEVEL_TRR", "ACADEMIC_PRG_TCR", "ACADEMIC_PRG_TRR", "ACTIVATE_DATE", 
#             "ADMISSION_DATE", "ADMIT_DATE_DON", "CITIZEN_COUNTRY", "CITIZEN_COUNTRY_DON", "CITIZENSHIP", 
#             "CITIZENSHIP_DON"]

In [9]:
#test_data.drop(columns=bad_cols, inplace=True)

In [10]:
#vals = pd.DataFrame(good_val["BMI_CALC"].value_counts())

In [11]:
#vals

In [12]:
test_data.head()

,WL_ORG,COD_WL,NUM_PREV_TX,CURRENT_PRA,PEAK_PRA,USE_WHICH_PRA,CREAT_CLEAR,GFR,DONATION,ON_DIALYSIS,...,INO_PROCURE_AGENT_3,TRANSPLANT_TIME,TRANSPLANTTIMEZONEID,DATA_TRANSPLANT,DATA_WAITLIST,CTR_CODE,OPO_CTR_CODE,INIT_OPO_CTR_CODE,END_OPO_CTR_CODE,LISTING_CTR_CODE
1144747,PA,.,1,0,0,C,.,.,NaN,N,...,.,.,.,Y,Y,15562,11036,11036,11036,15562
1144751,PA,.,0,.,.,NaN,.,.,NaN,NaN,...,.,.,.,Y,Y,24800,20491,14353,14353,24800
1144765,PA,.,2,.,.,NaN,.,.,NaN,NaN,...,.,.,.,Y,Y,16368,12865,217,217,16368
1144766,PA,.,0,.,.,NaN,.,.,NaN,NaN,...,.,.,.,Y,Y,22320,09331,9331,9331,22320
1144768,PA,.,0,.,.,NaN,.,.,NaN,NaN,...,.,.,.,Y,Y,7254,18879,18879,18879,07254

In [13]:
dupper = test_data[test_data.duplicated(subset=["TRR_ID_CODE"], keep="first")]

In [14]:
testier_data = test_data.iloc[[0,1,2,3,4]]
testier_data.to_csv("test_data.csv")

In [15]:
good_val = test_data.dropna(axis=0, subset="TRR_ID_CODE")

In [16]:
first_col = good_val.pop("TRR_ID_CODE")

good_val.insert(0, "TRR_ID_CODE", first_col)

C:\Users\Omar\AppData\Local\Temp\ipykernel_15840\2825563992.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  good_val.insert(0, "TRR_ID_CODE", first_col)

In [17]:
good_val_test = good_val[good_val["CURRENT_PRA"] != "."]

In [21]:
good_val.to_csv("PAN_data.csv", index=False)

In [19]:
pd.to_numeric(good_val_test["CURRENT_PRA"]).median()

0.0

In [20]:
valCounts = good_val["RDA1"]
valCounts = valCounts.replace(to_replace=".", value=0)
valCounts = pd.to_numeric(valCounts, downcast="integer")
valCounts = valCounts.value_counts()
print(valCounts)
valCounts = valCounts.reset_index()
valCounts.to_csv("valCounts.csv")
# pd.insert(0, "TRR_ID_CODE", first_trr)

RDA1
0       20626
2        6579
1        4035
3        2086
24        834
11        687
23        571
30        385
29        247
26        201
33        145
31        124
25        123
28        117
68        117
99        107
201       102
32         87
101        61
34         61
36         37
301        30
66         27
2402       19
1101       12
74         12
3001        9
202         7
19          6
2902        6
2601        5
98          4
10          4
203         3
205         3
206         3
102         3
97          3
43          2
9           2
3002        2
6601        2
3303        2
3301        2
3402        1
80          1
69          1
2403        1
Name: count, dtype: int64